body {
    background-color: white;
  }
  
  h1 {
    color: black;
    text-align: left;
  }
  
  h2 {
    color: black;
    text-align: left;
  }

  h3 {
    color: black;
    text-align: left;
  }

  #notsoimportant {
    color: grey;
    text-align: center;
    width: 100%;
  }

  #navigationklasse {
    color: black;
    text-align: center;
    width: 100%;
    border: 50px solid rgb(204, 171, 214);
    padding: 50px;
    margin: 20px;
  }