body {
    background-color: rgb(88, 107, 126);
  }
  
  h1 {
    color: white;
    text-align: left;
  }
  
  h2 {
    color: white;
    text-align: left;
  }

  h3 {
    color: white;
    text-align: left;
  }

  #notsoimportant {
    color: rgba(255, 255, 255, 0.459);
    text-align: center;
  }

  #navigationklasse {
    color: black;
    text-align: center;
    width: 300px;
    border: 50px solid rgb(204, 171, 214);
    padding: 50px;
    margin: 20px;
  }